<mat-toolbar color="primary">
    Chat seguro
    <span class="fill"></span>
    <button mat-button (click)="onLogOut()" *ngIf="authService.isLoggedIn">Cerrar sesion</button>
    <button mat-button (click)="showLoginDialog()" *ngIf="!authService.isLoggedIn">Ingresar</button>
    <button mat-button (click)="showRegisterDialog()" *ngIf="!authService.isLoggedIn">Registrarse</button>
</mat-toolbar>

<router-outlet></router-outlet>
