mat-toolbar {
    color: white;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


.friend_message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    background-color: #DAD4DF;
    color: #000000;
}

.personal_message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    background-color: #c5e6ab;
    color: #000000;
}

.contact_label {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 25px;
}

.message_list {
    position: absolute;
    top: 60px;
    left: 25px;
    width: 95%;
    height: 70%;
    overflow: auto;
}

.send_label {
    position: absolute;
    bottom: 0;
    left: 25px;
    width: 100%;
}