<div *ngIf="authService.isLoggedIn">
    <div *ngIf="activeChat" class="contact_label">
        <mat-toolbar color="accent" *ngIf="conversation.user1.id===user.id">{{conversation.user2.name}}</mat-toolbar>
        <mat-toolbar color="accent" *ngIf="conversation.user2.id===user.id">{{conversation.user1.name}}</mat-toolbar>
    </div>
    
    <div *ngIf="activeChat && conversation.messages" class="message_list">
        <mat-list *ngFor=" let message of conversation.messages">
            <mat-list-item *ngIf="message.user_id!==user.id" class="friend_message">
                <mat-label>{{message.content}}</mat-label>
            </mat-list-item>
            <mat-list-item *ngIf="message.user_id===user.id" class="personal_message">
                <mat-label style="position: absolute; right: 10px;">{{message.content}}</mat-label>
            </mat-list-item>
        </mat-list>
    </div>
    
    <div *ngIf="activeChat" class="send_label">
        <div style="width: 88%; float:left">
            <input type="text" [(ngModel)]="contentMessage" name="content" class="message-input">
        </div> 
        <div style="width: 11%; float:right">
            <button mat-mini-fab color="accent" style="margin-top: 10px;" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>
