<mat-grid-list cols="50">
    <mat-grid-tile [colspan]="15" [rowspan]="20">
        <mat-list *ngIf="authService.isLoggedIn">
            <mat-list-item *ngFor="let user of users" (click)="openChat(user)">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + user.img + ')'}"></div>
                        <mat-card-title>{{user.name}}</mat-card-title>
                    </mat-card-header>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="35" [rowspan]="20">
        <app-chat [chat_id]="conversation_id"></app-chat>
    </mat-grid-tile>
</mat-grid-list>
