$mat-card-header-size: 40px !default;

mat-grid-tile {
  background: white;
  top: 2px;
  border-radius: 10px;
}

mat-list {
  width: 100%;
  position: absolute;
  top: 5px;
}

mat-list-item {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  border-radius: 10px;
  padding: 0;
  width: 100%;
}

mat-card-header {
  background: rgb(211,255,119);
  background: linear-gradient(135deg, rgba(211,255,119,0.42594537815126055) 0%, rgba(0,17,255,0.37272408963585435) 100%);
  border-radius: 10px;
  color: rgb(90, 83, 83);
  height: 50px;
  width: 100%;
}

.header-image {
  margin-left: 5px;
  margin-top: 5px;
  background-size: cover;
}
