<mat-card [formGroup]="loginForm">
    <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Email" type="email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="password" >
                <mat-icon matSuffix>security</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <button id="login-button" mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Ingresar</button>
            <button id="cancel-button" mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
        </div>
    </mat-card-actions>
</mat-card>
