@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
@include mat-core($custom-typography);

// https://material.io/resources/color/
$custom-primary: mat-palette($mat-gray, 900);
$custom-accent: mat-palette($mat-teal, 800);
$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);

body {
    margin: 5%;
    background-image: url('assets/images/back.png');
    background-size: 100%;
    width: 90%;
    height: auto;
}
