<mat-card [formGroup]="registerForm">
    <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" type="text" formControlName="name">
                <mat-icon matSuffix>person_outline</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Email" type="email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="password" >
                <mat-icon matSuffix>security</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="confirmPassword" >
                <mat-icon matSuffix>security</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <button id="login-button" mat-raised-button color="primary" (click)="register()" [disabled]="registerForm.invalid">Registrarse</button>
            <button id="cancel-button" mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
        </div>
    </mat-card-actions>
</mat-card>